* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hidden {
    display: none;
    visibility: hidden;
}

.error {
    color: red;
    text-transform: uppercase;
}

.success {
    color: green;
}